.link-area {
    overflow: hidden;
    margin: 20px 0 20px;
    padding: 12px;
    border: 0 transparent;
    border-radius: 4px;
    /*background-color: #e3f0fe;*/
    background-color: #e3f0fe;
    -o-object-fit: fill;
    object-fit: fill;
}

.link-header {
    margin-bottom: 5px;
    font-family: 'Avenir Roman',sans-serif;
    color: #959eb5;
}

.warn-text {
    color: orange;
}

.link-url {
    font-family: 'Avenir Heavy',sans-serif;
    color: #0042da;
    -o-object-fit: fill;
    object-fit: fill;
}

.form-label {
    margin-bottom: 8px;
    font-family: 'Avenir Heavy',sans-serif;
    color: #293148;
    text-align: left;
}

.text-i {
    font-family: 'Avenir Light',sans-serif;
    color: #959eb5;
    font-size: smaller;
    line-height: 20px;
}

.info {
    font-family: 'Avenir Light',sans-serif;
    color: #959eb5;
    font-size: x-small;
    line-height: 20px;
}

.footer {
    margin-top: 60px;
    margin-bottom: 24px;
    font-family: 'Avenir Light',sans-serif;
    color: #959eb5;
    font-size: x-small;
    line-height: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.r-button {
    color: #fff !important;
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    color:#fff;
    padding: 8px 25px;
}

.b-button {
    color: #fff !important;
    border: 1px solid #35a7ea;
    background: #358cea !important;
    width: 100%;
    font-weight: 600;
    color: #fff;
    padding: 8px 45px;
    font-size: x-large;
}

.button-div {
    margin: 30px 0px 30px;
}

.my-input{
    border-width: 2px;
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}

.header-title{
    margin: 2rem 0;    
}

h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color: #358cea;

    font-family: 'Avenir Heavy',sans-serif;
}

h2{
    color: #959eb5;
    font-size: 19px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Avenir Book',sans-serif;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*
@media screen and (max-width:480px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 20px;
    }
}
*/